<div class="rules">
    <form action="/" method="POST" name="deleditForm{{ i }}">
        <input type="Hidden" name="deledit_rule" value="{{ rule.enc_id() }}">
    </form>
    <p class="title">Rule #{{ i }}
        {% if calling_page == 'index.html' %}
            <a href="#" title="Delete Rule" onclick="chgAction(document.getElementsByName('deleditForm{{ i }}')[0], '{{ url_for('deleterule') }}' );">
            <img src="{{ url_for('static', filename='delete-button.png') }}" height="15"></a>
            <a href="#" title="Edit Rule" onclick="chgAction(document.getElementsByName('deleditForm{{ i }}')[0], '{{ url_for('editrule') }}' );">
            <img src="{{ url_for('static', filename='edit-button.png') }}" height="15"></a>
        {% endif %}
    </p>
    <div class="ruletext">
        {% set media = {'2': 'Images and GIFs', '1i': 'Images (but NOT Videos/GIFs)', '1g': 'Videos/GIFs (but NOT Images)', '0':'No Media'} %}
        <!--<pre>-->
            When user <strong class="tweet">@{{ rule.handle }}</strong> <BR>
            Tweets any of this keywords: <code class="words">{{ rule.lookfor }}</code> <BR>
            Post to Discord using this webhook: <span class="hook">{{ rule.hook_name() }}</span> <BR>
            {% if rule.evrone %}
                Tagging <span class="everyonebkg"><span class="everyone">@everyone</span></span> <BR>
            {% endif %}
            Including: <span class="tweet">{{ media[rule.media] }}</span> <BR>
        <!--</pre>-->
    </div>
    <br>
</div>