{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
{{super()}}
    <!-- Custom Style -->
    <link href="{{ url_for('static', filename='customstyles/custom.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1><BR>
    <div class="row">
        <div class="col-md-6 rules-form">
            <div class="text-form .form-control-sm">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <div class="col-md-5">
            <hr>
            {% set calling_page = self._TemplateReference__context.name %}
            {% set i=0 %}
            {% for rule in rs %}
                {% set i=i+1 %}
                {% include '_rules.html' %}
            {% endfor %}
            <hr>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='customjs/custom.js') }}"></script>
{% endblock %}
