{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}
{{super()}}
    <!-- Custom Style -->
    <link href="{{ url_for('static', filename='customstyles/custom.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-7">
            {% if current_user.level == 0 %}
                <hr>
                {% set calling_page = self._TemplateReference__context.name %}
                {% set i=0 %}
                {% for rule in rs %}
                    {% set i=i+1 %}
                    {% include '_rules.html' %}
                {% endfor %}
                <hr>
            {% endif %}
        </div>
    </div>
{% endblock %}
