{% extends "base.html" %}

{% block app_content %}
<hr>
<table class="table table-hover">
	<tr>
    	<th scope="col">User</th>
	    <th scope="col">Email</th>
	    <th scope="col">&nbsp;</th>
	</tr>
	{% for usrs in users %}
		<tr>
            <td>{{ usrs.username }}</td>
            <td><a href="mailto:{{ usrs.email }}">{{ usrs.email }}</a></td>
            <td><a href="{{ url_for('perfil', username=usrs.enc_id()) }}">Edit Profile</a></td>
			<td>
			{% if usrs.level != 0 %}
			<a href="#" title="Delete User" onclick="supr('{{ url_for('dltusr', iduser=usrs.enc_id()) }}');">
				<img src="{{ url_for('static', filename='delete-button.png') }}" height="15"></a>
			{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='customjs/custom.js') }}"></script>
{% endblock %}